{% extends 'base.html' %}

{% load static %}

{% block title %}생성{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">단축 URL 생성</h5>
                </div>
                <form id="shortenedUrlNewForm" class="mx-5 mb-5" novalidate>
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">이름 <small class="text-danger">*</small></label>
                        <input id="nameInput" type="text" class="form-control" maxlength="150" aria-describedby="nameHelp" required>
                        <div id="nameHelp" class="form-text">이름은 150자 이하로 입력하세요.</div>
                    </div>
                    <div class="mb-3">
                        <label for="sourceUrlInput" class="form-label">원본 URL <small class="text-danger">*</small></label>
                        <input id="sourceUrlInput" type="url" class="form-control" aria-describedby="sourceUrlHelp" required>
                        <div id="sourceUrlHelp" class="form-text">원본 URL은 단축 URL로 바꿀 URL입니다.</div>
                    </div>
                    <div class="mb-3">
                        <label for="descriptionInput" class="form-label">설명</label>
                        <input id="descriptionInput" type="text" class="form-control">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">생성</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/shortened_url/new.js' %}"></script>
{% endblock %}